.node-teaser, .node {
	footer {
		ul.links.inline {
			font-size:0.6rem;
			font-weight: 700;
			text-transform: uppercase;
			@include rem(height, $vert-spacing);
			&, li, a {
				display:inline-block;
				padding: 0;
			}
			li {
				@include rem(margin-right, $horz-spacing);
			
			a::before {
				@include icon-links($vert-spacing, 1rem);
			}}
		}
		.node-readmore a {
			@include icon('before', true, 'eye');
		}
		.blog_usernames_blog a {
			@include icon('before', true, 'box');	
		}
	}
}