.node-teaser {
	footer {
		ul.links.inline {
			font-size:0.6rem;
			font-weight: 700;
			text-transform: uppercase;
			height: $vert-spacing;
			&, li, a {
				display:inline-block;
				padding: 0;
			}
			li {
				margin-right: $horz-spacing;
			
			a::before {
				@include font-size(1rem);
				line-height: $vert-spacing;
				width: $horz-spacing;
				text-align: center;
				display: inline-block;
			}}
		}
		.node-readmore a {
			@include icon('before', true, 'eye');
		}
		.blog_usernames_blog a {
			@include icon('before', true, 'box');	
		}
	}
}