.node-type-blog {
	#content {
		position: relative;
		.node-blog {
			section.content {
				@include rem(padding-bottom,2*$vert-spacing);
				border-bottom: 1px solid $text;
			}
			footer {
				@include rem(padding, $vert-spacing 0);
				.field-type-taxonomy-term-reference {
					width: 75%;
					float: left;
					@include rem(margin-bottom, $vert-spacing);
					@include icon('before', true, 'tag')
					
					&::before {
						@include icon-links($vert-spacing, 1rem);	
					}
					.field-label {
						display: none;
					}
					.field-items {
						float: none;
						display: inline-block;
						@include rem(font-size,0.75rem);
						@include rem(line-height,$vert-spacing);
						.field-item {
							font-weight: 700;
							@include rem(padding,0 0.25*$horz-spacing);
							@include rem(height,$vert-spacing);
							display: inline-block;
							a {
								display: block;
								text-transform: lowercase;
							}
						}
					}
				}
				.links.inline {
					width: 25%;
					text-align: right;
				}
			}
		}
	}
}
@media #{$media-phone} {
	.node-type-blog {
		#content {
			.node-blog {
				footer {
					.field-type-taxonomy-term-reference, .links.inline {
						width: 100%;
						text-align: left;
					}
				}
			}
		}
	}
}