.node-type-blog {
	#content {
		position: relative;
		.node-blog {
			.content {
				@include rem(padding-bottom,2*$vert-spacing);
				border-bottom: 1px solid $text;
				.field-type-taxonomy-term-reference {
					width: 75%;
					float: left;
					@include icon('before', true, 'tag')
					.field-label {
						display: none;
					}
					.field-items {
						float: none;
						display: inline-block;
						@include rem(font-size,0.75rem);
						@include rem(line-height,$vert-spacing);
						.field-item {
							font-weight: 700;
							@include rem(padding,0 0.25*$horz-spacing);
							@include rem(height,$vert-spacing);
							display: inline-block;
							a {
								display: block;
								text-transform: lowercase;
							}
						}
					}
				}
			}
		}
	}
}