@include keyframes(blinker) {
	0% { opacity: 1; }
	49.5% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 0; }
}

#header {
	border-bottom: 1px dashed $text;
	.header-wrapper {
		max-width: 768px;
		margin: 0 auto;
	}
	#logo, #name_and_slogan {
		display: inline-block;
		vertical-align: middle;
	}
	#logo img {
		width: auto;
	}
	h1 {
		margin: 0;
	}
	a {
		display: block;
		@include rem(font-size,1rem);
		font-family: $code;
		font-weight: 400;
		text-transform: lowercase;
		@include rem(line-height,2*$vert-spacing);
	}
}
#site_name a span {
	@include icon('after', true, 'underscore');
	&::after {
		font-family: $body;
		font-weight: 700;
		@include animation('blinker 1.5s linear infinite');
	}
}
// @media #{$media-phone} {
	#header {
		@include rem(padding, 0 $horz-spacing 0 3*$horz-spacing);
		.header-wrapper {
			text-align: right;
		}
		h1, a {
			margin: 0;
		}
	}
// }
@media (min-width: 891px) {
	// re-align the header text after awkward sizes
	#header {
		@include rem(padding,2*$vert-spacing 0 $vert-spacing);
		.header-wrapper {
			text-align: left;
		}
		a {
			@include rem(margin-bottom,$vert-spacing);
		}
	}
}