.node-teaser {
	padding: 2*$vert-spacing 0;
	border-bottom: 1px solid $text;
	header {
		position: relative;
	}
	section.content {
		@include rem(margin-top, $vert-spacing*2);
	}
}
@media #{$media-phone} {
	.node-teaser, .node-blog {
		padding: $vert-spacing 0;
		header {
			@include rem(margin-bottom, $vert-spacing);
		}
	}
}
@media (max-width: 890px) {
	//let's fix header margins for awkward sizing
	.node-type-blog {
		h2 {
			margin-bottom: 0;
		}
	}
}