.node-teaser {
	padding: 2*$vert-spacing 0;
	border-bottom: 1px solid $text;
	header {
		position: relative;
	}
}
@media #{$media-phone} {
	.node-teaser, .node-blog {
		padding: $vert-spacing 0;
		header {
			@include rem(margin-bottom, $vert-spacing);
		}
	}
}