#search-form {
	margin-bottom: 2*$vert-spacing;
	.form-wrapper#edit-basic {
		position: relative;
		display: block;
		margin-bottom: $vert-spacing;
		@include icon('before', true, 'search')
		&::before {
			position: absolute;
			bottom: 0;
			right: 0.6rem;
			@include icon-button(2*$vert-spacing,$highlight,1.5rem,white);
			@include border-radius(50%);
			&:hover {
				background: lighten($highlight, 10);
			}
		}
		input[type="text"] {
			width: calc(100% - 4rem);
		}
	}
	input[type="submit"][value="Search"] {
		opacity: 0;
		border: none;
		margin: 0;
		@include icon-button(2*$vert-spacing)
		cursor: pointer;
	}
}
.search-advanced {
	width: 100%;
}
.search-results {
	li {
		h3, span {
			margin: 0;
		}
		span, p {
			text-align: left;
		}
		span {
			font-style: italic;
			color: lighten($text, 25);
		}
	}
}
@media #{$media-phone} {
	#search-form {
		.form-wrapper#edit-basic {
			&::before {
				@include icon-button(1.5*$vert-spacing,$highlight,1rem,white);
				@include rem(margin,0.25*$vert-spacing 0)
			}
		}
		input[type="submit"][value="Search"] {
			@include icon-button(1.5*$vert-spacing)
			@include rem(margin,0.25*$vert-spacing 0)
		}
	}
}