.submitted {
	font-family: $title;
	font-weight: 700;
	color: lighten($highlight, 0.3);
	@include rem(font-size,0.83rem);
	@include rem(line-height,0.83rem);
	.submitted_day {
	}
	.submitted_year {
	}
}

@media #{$media-phone} {
	.submitted {
	}
}
@media (min-width: 891px) {
	// properly position the submitted data after the awkward phase
	.submitted {
		text-align: right;
		position: absolute;
		transform:translate(-100%,0);
		@include rem(top, 0.5*$vert-spacing);
		@include rem(padding-right, 1rem);
		span {
			display: block;
		}
	}
	.node-type-blog {
		.submitted {
			@include rem(top,3.85rem);
		}
	}
}
@media (max-width: 890px) {
	// proper margins for awkward headers.
	header.article_header {
		@include rem(margin-bottom, 1rem);
	}
}