.tabs {
	@include rem(margin-bottom, 2*$vert-spacing);
	ul.tabs.primary {
		border-bottom: 1px solid $text;
		text-align: right;
		li {
			display: inline-block;
			vertical-align: bottom;
		}
		a {
			height: 2*$vert-spacing;
			padding: 0 $horz-spacing;
			line-height: 2*$vert-spacing;
			// margin-right: 0.5*$horz-spacing;
			font-size: 0.7rem;
			font-weight: 700;
			text-transform: uppercase;
			display: inline-block;
			vertical-align: middle;
			border: 1px dashed $text;
			border-bottom: none;
			transition: all 0.3s ease;
		}
		a.active {
			color: white;
			border: 1px solid $text;
			background: $text;
		}
		a:hover {
			transition: all 0.3s ease;
			color: white;
			border: 1px dashed $highlight;
			border-bottom: none;
			background: $highlight;
		}
	}
}
@media #{$media-phone} {
	.tabs {
		ul.tabs.primary {
			li {
				display:block;
				@include rem(padding,0 0.25*$horz-spacing);
				a {
					width: 100%;
				}
			}
		}
	}
}