$media-phone: 	"(max-width: 480px)";
$media-tablet: 	"(min-width: 481px)";
$media-narrow: 	"(min-width: 769px)";
$media-normal: 	"(min-width: 1025px)";
$media-wide:	"(min-width: 1441px)";

$phone: 	480px;
$tablet: 	768px;
$narrow: 	1024px;
$normal: 	1440px;
$wide:		1920px;

$vert-spacing: 1.7rem;
$horz-spacing: 1.7rem;