label {
	font-weight: 700;
	display: inline-block;
	vertical-align: middle;
	@include rem(padding-top,$vert-spacing);
}
input, textarea {
	font-family: $body;
}
textarea, .form-textarea-wrapper textarea {
	@include rem(padding, $vert-spacing);
	@include rem(font-size, 1rem);
	@include rem(line-height, 1.7rem);
	@include rem(margin-top, $vert-spacing);
	border: none;
	border-top: 1px dashed $text;
	border-bottom: 2px solid $text;
	background: rgba($highlight, 0.05);
}


input[type="text"], input[type="password"], input[type="email"] {
	@include rem(font-size,1rem);
	@include rem(height,2*$vert-spacing);
	@include rem(padding,0.25*$vert-spacing);
	border: none;
	border-bottom: 2px solid $text;
	background: $bg;
	width: 100%;
	&:focus {
		outline: none;
		border-bottom: 2px solid $highlight;
	}
}
input[type="submit"] {
	display: inline-block;
	vertical-align: middle;
	@include rem(height,2rem);
	@include rem(padding,0 $horz-spacing);
	@include rem(line-height,2rem);
	@include rem(margin,$vert-spacing $vert-spacing 0 0);
	@include rem(font-size,0.7rem);
	color: white;
	background: $highlight;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	&:hover, &:active {
		background: lighten($highlight, 10);
	}
}
.description, .filter-help, .filter-guidelines {
	@include rem(font-size,0.7rem);
}