@font-face{ 
  font-family: 'icons';
  src: url('icons/fonts/icomoon.eot');
  src: url('icons/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
       url('icons/fonts/icomoon.woff') format('woff'),
       url('icons/fonts/icomoon.ttf') format('truetype'),
       url('icons/fonts/icomoon.svg#webfont') format('svg');
}