#navigation {
	position: fixed;
	top: 0;
	height: 100vh;
	background-color: rgba($highlight, 0.9);
	z-index: 999;
	@include rem(padding,2*$vert-spacing 2*$horz-spacing);
	transition: left .2s ease-in-out;
	@include icon('before', true, 'menu')
	cursor: pointer;
	li {
		border-bottom: 1px solid $outlines;
		transition: all 0.2s ease;
		a {
			@include rem(height,2*$vert-spacing);
			@include rem(line-height,2*$vert-spacing);
			font-weight: 700;
			color: white;
			display: block;
			transition: all 0.2s ease;
		}
		&:hover {
			transition: all 0.2s ease;
			a {
				transition: all 0.2s ease;
				@include rem(padding-left,0.25*$horz-spacing);
			}
		}
	}
	&::before {
		@include icon-button(1.5*$vert-spacing,rgba($bg, 0.9),1.5rem,$highlight)
		@include rem(line-height,2.8rem) // correct line-height for improper icon sizing
		position: fixed;
		@include rem(top, 0.25*$vert-spacing);
		@include rem(left, 0.25*$horz-spacing);
		z-index: 1000;		
		@include border-radius(50%);
	}
	&.clicked {
		&::before {
			color: white;
			background: transparent;
		}
	}	
}
.admin-menu #navigation::before {
	@include rem(top,$vert-spacing);
}
@media #{$media-phone} {
	#navigation {
		width: 100%;
		left: -100%;
		&.clicked {
			left: 0;
		}
	}
}
@media #{$media-tablet} {
	#navigation {
		width: $phone;
		left: -$phone;
		&.clicked {
			left: 0;
		}
	}
}