body {
	background-color: $bg;
}

#content {
	max-width: $tablet;
	margin: 0 auto;
}
.not-front #content {
	padding: 2*$vert-spacing 0;
}

hr {
	margin-top: $vert-spacing;
	margin-bottom: $vert-spacing;
	border: 0;
	border-top: 1px solid $outlines;
}