body {
	background-color: $bg;
}

#content {
	max-width: $tablet;
	margin: 0 auto;
	@include rem(padding,0 $horz-spacing);
}
.not-front #content {
	@include rem(padding,2*$vert-spacing 0);
}

hr {
	margin-top: $vert-spacing;
	margin-bottom: $vert-spacing;
	border: 0;
	border-top: 1px dashed $text;
}

@media (max-width: 890px) {
	//let's fix edge padding for awkward sizing.
	#content {
		@include rem(padding,0 $horz-spacing);
	}
	.not-front #content {
		@include rem(padding,$vert-spacing);
	}
}