// /**
// * $FONT-FACE
// */

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,500,700,900|Source+Code+Pro');

// /**
// * $BASE-TYPOGRAPHY
// */
html {
	font-size: 17px; // set base REM size.
	@include line-height(1.7rem);
}
body {
	font-family: $body;
	font-weight: 300;
	color: $text;
}

// /**
// * $LINKS
// */
a {
	text-decoration: none;
	@include link-colors($text,$highlight,$highlight,$text,$highlight);
}
// /**
// * $HEADINGS
// */
h1,h2,h3,h4,h5,h6 {
	font-family: $title;
	font-weight: 700;
	color: $highlight;
}
h1 {@include font-size(3rem); @include line-height(2*$vert-spacing);}
h2 {@include font-size(2rem); @include line-height(2*$vert-spacing);}
h3 {@include font-size(1.5rem); @include line-height($vert-spacing);}
h4 {@include font-size(1.25rem); @include line-height($vert-spacing);}
h5 {@include font-size(1rem); @include line-height($vert-spacing);}
h6 {@include font-size(0.83rem); @include line-height($vert-spacing);}

// /**
// * $BLOCK ELEMENTS
// */

h1,h2,h3,h4,h5,h6,p,code,blockquote, ol, ul {
	margin-bottom: $vert-spacing;
}

// /**
// * $PARAGRAPHS
// */
p {
	text-align: justify;
}

// /**
// * $QUOTES
// */
blockquote {
	margin-left: $horz-spacing;
	padding: 0 (2*$horz-spacing) 0 $horz-spacing;
	border-left: 3px solid $outlines;
	font-style: italic;
}
code {
	font-family: $code;
	@include font-size(0.9rem);
	font-weight: 400;
}
// /**
// * LISTS
// */

ol {}
ul {}

// /**
// * $MARKS
// */
mark, .marker {}

// /**
// * $FORMATTING
// **/

strong {}
label {}
.description {}
.fieldset-description {}