// /**
// * $FONT-FACE
// */

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,500,700,900|Source+Code+Pro');

// /**
// * $BASE-TYPOGRAPHY
// */
html {
	@include rem(font-size,1.0625rem); // font-size at 17px
	@include rem(line-height,1.7rem);
}
body {
	font-family: $body;
	font-weight: 300;
	color: $text;
}

// /**
// * $LINKS
// */
a {
	text-decoration: none;
	@include link-colors($text,$highlight,$highlight,$text,$highlight);
}
// /**
// * $HEADINGS
// */
h1,h2,h3,h4,h5,h6 {
	font-family: $title;
	font-weight: 700;
}
h1, h2 {
	color: $highlight
}
h1 {@include rem(font-size,3rem); @include rem(line-height,2*$vert-spacing);}
h2 {@include rem(font-size,2rem); @include rem(line-height,2*$vert-spacing);}
h3 {@include rem(font-size,1.5rem); @include rem(line-height,$vert-spacing);}
h4 {@include rem(font-size,1.25rem); @include rem(line-height,$vert-spacing);}
h5 {@include rem(font-size,1rem); @include rem(line-height,$vert-spacing);}
h6 {@include rem(font-size,0.83rem); @include rem(line-height,$vert-spacing);}

// /**
// * $BLOCK ELEMENTS
// */

h1,h2,h3,h4,h5,h6,p,code,blockquote, ol, ul {
	@include rem(margin-bottom,$vert-spacing);
}

// /**
// * $PARAGRAPHS
// */
p {
	text-align: justify;
}

// /**
// * $QUOTES
// */
blockquote {
	@include rem(margin-left,$horz-spacing);
	@include rem(padding,0 2*$horz-spacing 0 $horz-spacing);
	border-left: 3px solid $outlines;
	font-style: italic;
}
code {
	font-family: $code;
	font-weight: 400;
}
pre code {
	@include rem(font-size,0.8rem);
}
// /**
// * LISTS
// */

ol {}
ul {}
dl {
	dt {
		font-weight: 700;
	}
	dd {
		@include rem(margin, 0.5*$vert-spacing 0 $vert-spacing 0.5*$horz-spacing);
		@include rem(padding-left, 0.5*$horz-spacing);
		border-left: 3px solid $highlight;
	}
}

// /**
// * $MARKS
// */
mark, .marker {}

// /**
// * $FORMATTING
// **/

strong {}
label {}
.description {}
.fieldset-description {}



@media #{$media-phone} {
	h1 {@include rem(font-size,2.5rem); @include rem(line-height,1.5*$vert-spacing);}
	h2 {@include rem(font-size,2rem); @include rem(line-height,1.5*$vert-spacing);}
	h3 {@include rem(font-size,1.5rem); @include rem(line-height,$vert-spacing);}
	h4 {@include rem(font-size,1.25rem); @include rem(line-height,$vert-spacing);}
	h5 {@include rem(font-size,1rem); @include rem(line-height,$vert-spacing);}
	h6 {@include rem(font-size,0.83rem); @include rem(line-height,$vert-spacing);}
	h1,h2 {
		@include rem(margin-bottom,0.5*$vert-spacing);
	}
	pre code {
		@include rem(font-size, 0.65rem);
	}
}