@mixin rem($property, $values) {
  $remval: ();
  $pxval: ();
  @each $val in $values {
    $remval: join($remval, $val);
    $pxval: join($pxval, $val/1rem*$base-font-size);
  }
  #{$property}: $remval;
  #{$property}: $pxval;
}